@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	display: flex;
	width: 90vw;
	max-width: 1800px;
}

.panel {
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50px;
	flex: 0.7;
	cursor: pointer;
	color: white;
	margin: 0 10px;
	height: 90vh;
	position: relative;
	transition: flex 0.3s ease-in;
}

.panel h3 {
	position: absolute;
	bottom: 20px;
	left: 20px;
	opacity: 0;
}

.panel.active {
	flex: 6;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.3s;
}

@media (max-width: 1100px) {
	.container {
		width: 100%;
	}

	.panel:nth-of-type(4),
	.panel:nth-of-type(5) {
		display: none;
	}
}
